<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('addrec')}}" method = "POST">
        <h1> Making Reservation</h1>
        Name<br>
        <input type="text" name="nm"/><br>
        CheckInDate<br> 
        <input tpye="text" name="CheckInDate"/><br>
        CheckOutDate<br>
        <input type="text" name="CheckOutDate"/><br>
        RoomType<br> 
        <input type="text" name="RoomType"/><br>


        <input type="submit" value="Submit"/>

    </form>
</body>
</html>